<header>
    <h1 id="logo">Fakultura</h1>
    <ul>
        <li>
            <a href="/">PoÄetna</a>
        </li>
        <li>
            <a href="/napravi-nalog">Napravi nalog</a>
        </li>
        <li>
            <a href="/prijavi-se">Prijavi se</a>
        </li>
        <li>
            <form action="/odjavi-se" method="POST">
                <button>Odjavi se</button>
            </form>
        </li>
        <li>
            <a href="/o-nama">O nama</a>
        </li>
    </ul>
</header>