<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakultura</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/styles/shared.css">
    <link rel="stylesheet" href="/styles/chat-room.css">
</head>
<body>
    <%- include("includes/header") %> 
    <main>
        <h1><%= fakultet.naziv %></h1>
        <section>
        </section>
    </main>
    <footer>
        <form action="">
            <textarea name="poruka" id="" cols="30" rows="5" required>Upisite poruku</textarea>
            <button>Posalji</button>
        </form>
    </footer>
</body>
</html>